.modalDialog {
	width: 100%;
	max-width: 700px;
	
	.modalContent {
		padding: 0;
		margin: 0;
	}

	.inner {
		max-height: 85vh;
	}
}

.formWrapper {
	max-height: ~"calc(85vh - 118px)";
}

.spinner {
	margin-left: 10px;
}
